[submodule "plugin.video.phage-lite"]
	path = repo/plugin.video.phage-lite
	url = git@github.com:phage-lite/plugin.video.phage-lite.git
[submodule "plugin.video.bacterio"]
	path = repo/plugin.video.bacterio
	url = git@github.com:phagevault/plugin.video.bacterio.git
